

h1,h2 {
  color: #38c6f4 ;
  font-family: 'Dosis', sans-serif;
  text-decoration-line: underline;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 2em;
}

h3 {
  color: #38c6f4 ;
  font-family: 'Dosis', sans-serif;
  margin-bottom: 20px; 
  margin-top: 0; 

}

h4 {
  margin-left: 73px; 
  color: #c9d3d3; 
  font-size: 20px;
  margin-bottom: 30px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Dosis', sans-serif !important;
  background-color: #494247 !important;
  /*color: #494247 ;*/
  /*text-align: left;*/
 
}

caption {
  text-align: left;
  color: #38c6f4;
  font-size: 150%;
  text-decoration-line: underline ;
  padding-bottom: 25px;
}

a:link, a:hover, a:visited{
  text-decoration: none;
  font-size: 110%;
  /*color:#c9d3d3;*/
  display: inline-flex;
  color: #c9d3d3 ;

}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  margin: auto;
  width: 90%;

}

table, td, th {
  /*background-color: #c9d3d3;*/
  color:#c9d3d3 ;

}

td,th {
  padding: 15px;
  border-bottom: 2px solid #38c6f4;
  text-align: center;
  color: #c9d3d3 ;
  
}

.none{
border-style: none !important;

}

tr:hover {background-color: #38c6f4;}
/*tr:nth-child(even) {background-color: #c9d3d3;}*/

.Btn-add {
  /*display: flex;
  flex-direction:row-reverse;*/
  margin-left: 20px;
  /*align-items:flex-end;*/
  margin-top: 70px;
  color: #494247 !important;
  height: 24px;
  
}

.btn-lien {
  color:#494247 !important; 

}

.Btn-add:last-child {margin-right: 80px;}

.buttonadd {
  display: flex;
  justify-content: flex-end;
  

}

.cl-pr {
  display: flex;
  flex-direction:row-reverse;
  margin-right: 163px;
  height: 50px;
  color: #494247 !important;
}

.tableHead {
  font-weight: bold;
}

.material-icons { 
    font-size: 62px; 
    display :inline;
    /*padding-inline-end: 50px;
    margin: 50px;*/
     
}

.navheader {
  /*text-align: left;*/
  /*font-size: 100px;*/
  /*margin-bottom: 100px;
  margin-top:-20px;
  margin-left: -20px;*/
  display: flex; 
  height: 280px;
  justify-content:space-between ;

}

.logo {
  margin: 5px;
  height: 280px; 
  
}

.form-control {
  color:#38c6f4 ;
}

.icons {
  color:#c9d3d3 !important;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  align-items: center;
  margin-top: 25px;

}

.navheader2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}

.logologin{
  height: 50vh;
}

.addForm{
  background-color: #c9d3d3;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  padding: 10px 0;
  border-radius: 32px;
  font-size: 25px;
  margin-bottom: 35px;
}

.addlogin{
  display: flex;
  justify-content: center;
}

.login{
  margin: 20px 0;
  color: #494247;
}

.btn-login{
  background-color: #38c6f4;
  border-radius: 8px;
  padding: 5px 7px;
  margin: 15px;
  
}

.yc {
  color:#494247 !important;
}

.btncenter{
  display: flex;
  justify-content: center;

}

.navfooter {
  text-align-last: center;
  font-size: 25px;
  margin-top: 50px;
  color: #3ec8f4;
  
}

.imgfooter {
  width: 190px !important;
  height: 120px !important; 
  margin-bottom: -30px;

}